/* overide body styling */
body {
    margin: 0;
    padding: 0;
    color: var(--primary);
    background-color: var(--background);
}

.geist-font {
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Geist", sans-serif;
}

/* layout flow */

.main-container {
    display: flex;
    gap: 4rem;
    margin: 2rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
}

.content-column {
  padding-bottom: 0rem;
}

.content-column h1 {
  font-size: 2.4em;
  font-weight: 500;
  margin-bottom: 30px;
}

.content-column h2 {
  margin-top: 28px;
  margin-bottom: 8px;
  font-size: 1.15em;
  color: var(--secondary);
  font-weight: 500;
}

.content-column p {
  font-size: 0.95em;
  line-height: 1.5;
  margin-bottom: 12px;
}

.content-column .content-block {
  display: flex;
  flex-direction: column;
}

.content-column .papers {
  list-style: disc;
  padding-left: 1.2em;
  margin-top: 10px;
  font-size: 0.95em;
  line-height: 1.5;
}

.content-column .papers li {
  margin-bottom: 14px;
}

.content-column .papers .paper-title {
  font-weight: 400;
  cursor: pointer;
}

.content-column .papers .paper-title:hover {
  border-bottom: 1px solid;
}

.content-column .papers .paper-links {
  font-size: 0.9em;
  margin-left: 4px;
}

.content-column .papers .paper-links a {
  color: var(--primary);
  text-decoration: none;
}

.content-column .papers .paper-links a:hover {
  text-decoration: underline;
}

.content-column .papers .paper-description {
  font-size: 0.9em;
  margin-top: 4px;
  color: var(--muted-foreground);
  max-width: 600px;
}

.content-column .papers .paper-description[data-open="closed" i] {
  display: none;
}

.content-column .papers .paper-description[data-open="open" i] {
  display: block;
}


.content-column .header {
  display: none;
  justify-content: space-between;
}

.content-column .header .photo {
  width: 100px;
  margin-top: 1rem;
  margin-left: 0.5rem;
  border-radius: var(--radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.content-column .contact-info {
  display: none;
}

.content-column .contact-info p {
  font-size: 0.75em;
  font-weight: 300;
}

.media-column {
  padding-bottom: 0rem;
}

.media-column .photo {
  border-radius: var(--radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.media-column .contact-info {
  font-size: 0.75em;
}

.media-column .contact-info p {
  text-align: left;
  font-weight: 300;
}

mjx-container {
  pointer-events: none;
}

@media (max-width: 700px) {
  .main-container {
    margin-top: 1rem;
  }
  .content-column h1 {
    margin-top: 1rem;
  }
  .content-column.responsive h1 {
    display: none;
  }
  .content-column.responsive .header h1 {
    display: block;
    font-size: 2.4em;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .content-column.responsive .header {
    display: flex;
  }
  .content-column.responsive .contact-info {
    display: block;
  }
  .media-column.responsive {
    display: none;
  }
}

@media (max-width: 500px) {
  .content-column.responsive .header h1 {
    font-size: 2em;
  }
  .content-column.responsive .papers .paper-title {
    font-size: 0.85em;
  }
}
